<div fxLayout="column" fxLayoutGap="20px">
  <mat-toolbar class="fixed-header">
    <img
      class="example-header-image"
      src="https://static.thenounproject.com/png/81532-200.png"
    />
    <span>Estudio de las comarcas de Cataluña</span>
  </mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <button (click)="goMale()" [disabled]="isMaleDisabled" mat-button>
      <mat-icon aria-hidden="false">male</mat-icon>
    </button>
    <button (click)="goFem()" [disabled]="isFemDisabled" mat-button>
      <mat-icon aria-hidden="false">female</mat-icon>
    </button>
    <button (click)="goAll()" [disabled]="isAllDisabled" mat-button>
      <mat-icon aria-hidden="false">wc</mat-icon>
    </button>
  </div>
</div>

<!-- <mat-card fxFlex class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Estudio de las comarcas de Cataluña</mat-card-title>
    <mat-card-subtitle
      >Datos geográficos para el género masculino</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-button>
        <mat-icon aria-hidden="false">male</mat-icon>
      </button>
      <button mat-button>
        <mat-icon aria-hidden="false">female</mat-icon>
      </button>
      <button mat-button>
        <mat-icon aria-hidden="false">wc</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions> </mat-card-actions>
</mat-card> -->
